// Copyright © 2024 Navarrotech
@use "./theme.sass" as *;
@use "sass:color";

$family-titles: "Archivo Black", Roboto, sans-serif;
$family-primary: "Montserrat", Arial, sans-serif;

@use "bulma/sass" with (
  $family-primary: $family-primary,
  $primary: $primary,
  $link: $link,
  $info: $info,
  $title-family: $family-titles,
  $input-shadow: none,
  $button-ghost-color: $white,
  $button-ghost-hover-color: $white
);

// Navarrotech
@import "./NavarroTech/derived-variables.sass";
@import "./NavarroTech/Addons/_all.sass";
@import "./NavarroTech/Components/_all.sass";
@import "./NavarroTech/Elements/_all.sass";

// Bulma extensions
@import "bulma-divider";

.has-divider {
  position: relative;

  span {
    margin-left: 1em;
    display: inline-block;
    padding-left: 0.6em;
    padding-right: 0.6em;
    position: relative;
  }

  &::before {
    content: " ";
    position: absolute;
    right: 0;
    left: 0;
    display: block;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 1rem;
    top: -0.25em;
  }

  &.is-centered {
    text-align: center;
    span {
      margin-left: auto;
    }
  }
}

.theme-light {
  p {
    color: #504f51;
  }

  strong {
    color: black;
  }

  .button {
    &.is-primary {
      &.is-inverted {
        color: black !important;
      }
    }
    &.is-info {
      &.is-inverted {
        color: black !important;
      }
    }
  }

  .has-divider span {
    background: $white;
  }

  .box:has(> .box-label) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    .box-label {
      background: $white;
    }
  }
}

.theme-dark {
  .button {
    &.is-primary {
      &.is-inverted {
        color: white !important;
      }
    }
    &.is-info {
      &.is-inverted {
        color: white !important;
      }
    }
  }

  .has-divider span {
    background: $black;
  }

  .box:has(> .box-label) {
    border: 1px solid rgba(255, 255, 255, 0.1);
    .box-label {
      background: $black;
    }
  }
}

.button {
  &.is-primary {
    &.is-inverted {
      border-width: 2px;
      border-style: solid;
      background: transparent !important;
      border-color: $primary;
    }
    color: white;
  }
  &.is-info {
    &.is-inverted {
      border-width: 2px;
      border-style: solid;
      background: transparent !important;
      border-color: $info;
    }
    color: white;
  }

  &.is-logo {
    height: 42px;
    font-weight: 500;
    border: none;
    position: relative;

    .icon {
      position: absolute;
      left: 1.2em;
    }
  }
  &.is-google {
    background: $google;
    color: white !important;
  }
  &.is-discord {
    background: $discord;
    color: white !important;
  }
  &.is-select-prompt {
    background: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom-width: 2px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

.navbar {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: $topbarHeight;

  .navbar-menu {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5em;
  }
}

.is-borderless {
  border: none !important;
}

.useTitleFont {
    font-family: $family-titles;
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.field:not(:last-child) {
    margin-bottom: 0.75rem;
}

.has-text-pretty {
  text-wrap: pretty;
}

.is-fullwidth {
  width: 100% !important;
}

input:focus,
textarea:focus {
  outline: none !important;
}

input,
textarea {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom-width: 2px !important;
  border-radius: 0 !important;
}

.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  border-color: $primary;
}

.theme-light {
  .dropdown-item {
    &.is-highlighted {
      background: rgba(0, 0, 0, 0.1) !important;
    }
  }
}
.theme-dark {
  .dropdown-item {
    &.is-highlighted {
      background: rgba(255, 255, 255, 0.1) !important;
    }
  }
}

svg.custom-icon {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
  overflow: visible;
  box-sizing: content-box;

  &.is-large {
    font-size: 1.5em;
    line-height: 0.0416666682em;
    vertical-align: -0.25em;
  }
}

.box {
  position: relative;

  &:has(> .box-label) {
    padding-top: 1.75em;
    padding-bottom: 1.5em;

    .box-label {
      position: absolute;
      top: -0.5em;
      left: 0.75em;
      margin-bottom: 0;
      font-weight: 300;
      padding: 0 0.35em;
      height: 0.6em;
      line-height: 1;
      font-weight: 500;

      &.is-centered {
        margin-left: auto;
        margin-right: auto;
        right: 0;
        left: 0;
        width: fit-content;
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .section {
    padding: 1.5rem 1rem 1rem !important;
  }

  .dropdown-menu {
    display: block !important;
    position: fixed;
    top: 101vh;
    left: 0;
    right: 0;
    width: 100vw;
    height: 50vh;
    transition: top 200ms ease-in-out;
    z-index: 1000;

    .dropdown-content {
      max-height: calc(50vh - var(--bulma-dropdown-content-padding-top));
      height: calc(50vh - var(--bulma-dropdown-content-padding-top));

      .dropdown-wrapper {
        max-height: 100%;
        overflow-y: auto;
      }

      .dropdown-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        width: 100%;

        > .field:not(.has-addons) {
          width: 100%;
        }

        .dropdown-search,
        .dropdown-search + .icon {
          font-size: 1rem !important;
        }
      }
    }
  }
  .dropdown {
    &.is-active {
      &::before {
        content: " ";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(7px);
        z-index: 999;
        pointer-events: none;
      }

      .dropdown-menu {
        top: 50vh !important
      }
    }
  }

  .theme-light {
    .dropdown.is-active::before {
      background: rgba(0, 0, 0, 0.5) !important;
    }
  }

  .field > .label {
    font-size: 0.875rem;
  }
  .input,
  .textarea {
    font-size: 0.9rem;
  }
}

.level.is-mobile > .field {
  margin-bottom: 0 !important;
}
