// Copyright © 2024 Navarrotech
    
// Sass modules
@import "@/sass/bulma.scss"
@import "@/sass/fonts.sass"

body
    height: 100vh !important

    &.theme-dark
      background: #0A0A0A
      
      .navbar *
        color: $white
        
    &.theme-light
      background: #f0f5fa

      .navbar *
        color: $dark

*
  -webkit-tap-highlight-color: transparent

.section
  height: 100vh

  &.is-beautiful
    background: rgb(38,120,151)
    background: linear-gradient(180deg, rgba(38,120,151,1) 0%, rgba(19,48,93,1) 35%, rgba(43,23,64,1) 100%)

    h1, h2, span, p
      color: white !important

  &.is-danger
    background: rgb(151,38,38)
    background: linear-gradient(180deg, rgba(151,38,38,1) 0%, rgba(93,19,19,1) 35%, rgba(64,23,43,1) 100%)

    h1, h2, span, p
      color: white !important

  > .container
    height: 100%

.dashboard
  position: relative

  .dashboard-content
    height: calc(100vh - $topbarHeight - $bottombarHeight)
    max-height: calc(100vh - $topbarHeight - $bottombarHeight)
    overflow-y: auto

    &:not(.no-padding)
      padding: 1.5em 0.75em 35vh

  .centered-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%

.container,
.section
  &.is-stacked
    display: flex
    flex-direction: column

.v-spacer
  flex-grow: 1

.centered
  display: block
  margin-left: auto
  margin-right: auto

.dropdown-wrapper
  padding: 0.5em 0

  .dropdown-item:not(:last-child)
    border-bottom: 1px solid rgba(238, 238, 238, 0.2)
