// Copyright © 2024 Navarrotech

.BottomBar
  position: fixed
  background: white
  width: 100vw
  z-index: 39
  bottom: 0
  left: 0
  right: 0
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row
  height: $bottombarHeight

  .bottomHighlighter
    position: absolute
    background: $primary
    top: 0
    width: calc(1/3 * 100vw)
    height: 2px
    z-index: 39
    transition: left 200ms ease
    
  .bottomItem
    gap: 0.25em
    outline: none

    span
      font-size: 0.7rem
      color: #4a4a4a

    .iconBox
      position: relative
      width: calc(1/3 * 100vw)
      height: $bottombarHeight

      .regular,
      .solid,
      .cover
        font-size: 1.5rem
        position: absolute
        top: 0.6em
        left: 0
        right: 0
        margin-left: auto
        margin-right: auto

      .cover
        top: 1.25em
        font-size: 1rem
        transform: translateX(0)

      .coverHeart
        display: block !important
        top: 1.5em
        font-size: 1rem
        opacity: 0
        transform: translate(12px, 3px) rotate(90deg)
        transition: transform 200ms ease, opacity 200ms ease

    &.isActive .coverHeart
      opacity: 1
      transform: translate(7px, 0px) rotate(0deg)

    &.isActive .regular,
    &:not(.isActive) .solid,
    &:not(.isActive) .cover
      display: none

:global(.theme-dark)
  .BottomBar
    background: $darker
    color: $white

    .bottomItem
      span
        color: $white

      svg
        color: $white

    .isActive
      .solid,
      .regular
        color: $primary

:global(.theme-light)
  .BottomBar
    background: $lighter
    color: $black

    .bottomItem
      span
        color: $dark

      svg
        color: $dark

    .isActive
      .solid,
      .regular
        color: $primary
